In [8]:
import numpy as np

In [11]:
print("Hello, World!")
print("Nama saya Ivan Wahyu Putratama")
print("NIM saya 2021071022")

Hello, World!
Nama saya Ivan Wahyu Putratama
NIM saya 2021071022

In [12]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [13]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [14]:
x = 4
x = "Sally"
print(x)

Sally

In [15]:
# Contoh
def getfirst(myList):
    return myList[0]
getfirst([1,2,3])

1

In [16]:
# Jika getFirst diperoleh dari myList [0], bagaimana memperoleh getSecond?
def getSecond(myList):
    return myList[1]
getSecond([1,2,3])

2

In [17]:
# Jika getFirst diperoleh dari myList [0], bagaimana memperoleh getLast (isi terakhir)?
def getLast(myList):
    return myList[-1]
getLast([1,2,3])

3

In [ ]:
#Contoh 
def getSum(myList):
  sum = 0
  for item in myList:
    sum = sum + item
  return sum
getSum([1,2,3,4])

10

In [1]:
# getSum adalah perintah untuk mendapatkan hasil jumlah seluruh angka. Bagaimana jika kita membutuhkan fungsi getKali untuk mengalikan seluruh angka?
def getKali(myList):
  kali = 1
  for item in myList:
    kali = kali * item
  return kali
getKali([1,2,3,4,5])

120

In [19]:
# getSum adalah perintah untuk mendapatkan hasil jumlah seluruh angka. Bagaimana jika kita membutuhkan fungsi getBagi untuk membagikan seluruh angka?
def getBagi(myList):
  bagi = 1
  for item in myList:
    bagi = bagi / item
  return bagi
getBagi([1,2,3,4])

0.041666666666666664

In [28]:
def getSum(myList):
    sum = 0
    for row in myList:
        for item in row:
            sum += item
    return sum

In [29]:
getSum([[1,2,3],[4,5,7]])

22

In [38]:
# Buatlah suatu fungsi untuk membagi 2 himpunan angka, jika getSum untuk menjumlahkan angka!
def getBagi(myList):
    bagi = 64
    for row in myList:
        for item in row:
            bagi /= item
    return bagi
getBagi([[1,2,],[4,8]])

1.0

In [41]:
# Buatlah suatu fungsi untuk mengurangi 2 himpunan angka, jika getSum untuk menjumlahkan angka!
def getKurang(myList):
    kurang = 32
    for row in myList:
        for item in row:
            kurang -= item
    return kurang
getKurang([[16,8],[4,2]])

2