**Implementasi Algoritma Breadth-first Search**

In [65]:
def bfs(graph, start):
  visited = []
  queue = [start]

  while queue:
    node = queue.pop(0)
    if node not in visited:
      visited.append(node)
      neighbours = graph[node]
      for neighbour in neighbours:
        queue.append(neighbour)

  return visited

In [66]:
graph = {'Amin' : {'Wasim', 'Nick', 'Mike'},
         'Wasim' : {'Imran', 'Amin'},
         'Imran' : {'Wasim', 'Faras'},
         'Faras' : {'Imran'},
         'Mike' : {'Amin'},
         'Nick' : {'Amin'}}

In [67]:
bfs(graph,'Amin')

['Amin', 'Nick', 'Mike', 'Wasim', 'Imran', 'Faras']

In [68]:
# o amin--------------
# /         /        /
# o wasim   o nick   o mike
# /
# o imran
# /
# o faras
bfs(graph,'Amin')

['Amin', 'Nick', 'Mike', 'Wasim', 'Imran', 'Faras']

In [69]:
# o wasim----
# /         /        
# o imran   o amin -----   
# /         /         /
# o faras   o nick    o mike

bfs(graph, 'Wasim')

['Wasim', 'Imran', 'Amin', 'Faras', 'Nick', 'Mike']

In [70]:
# o faras
# /        
# o imran   
# /
# o wasim   o nick    o mike
# /         /         /
# o amin -------------

bfs(graph, 'Faras')

['Faras', 'Imran', 'Wasim', 'Amin', 'Nick', 'Mike']

In [71]:
def bfs(graphRektor, start):
  visited = []
  queue = [start]

  while queue:
    node = queue.pop(0)
    if node not in visited:
      visited.append(node)
      neighbours = graphRektor[node]
      for neighbour in neighbours:
        queue.append(neighbour)

  return visited

In [72]:
graphRektor = {'Rektor' : {'Warek 1', 'Warek 2'},
          'Warek 1' : {'Rektor'},
          'Warek 2' : {'Rektor', 'Kaprodi 1', 'Kaprodi 2', 'Kaprodi 3'},
          'Kaprodi 1' : {'Warek 2', 'Dosen A', 'Dosen B', 'Dosen C'},
          'Dosen A' : {'Kaprodi 1'},
          'Dosen B' : {'Kaprodi 1'},
          'Dosen C' : {'Kaprodi 1'},
          'Kaprodi 2' : {'Warek 2', 'Dosen D', 'Dosen E'},
          'Dosen D' : {'Kaprodi 2'},
          'Dosen E' : {'Kaprodi 2'},
          'Kaprodi 3' : {'Warek 2', 'Dosen F', 'Dosen G'},
          'Dosen F' : {'Kaprodi 3'},
          'Dosen G' : {'Kaprodi 3'}
          }

In [73]:
bfs(graphRektor, 'Rektor')

['Rektor',
 'Warek 1',
 'Warek 2',
 'Kaprodi 1',
 'Kaprodi 2',
 'Kaprodi 3',
 'Dosen A',
 'Dosen C',
 'Dosen B',
 'Dosen D',
 'Dosen E',
 'Dosen F',
 'Dosen G']

Implementasi Algorithma Depth-First Search

In [74]:
bfs(graphRektor, 'Kaprodi 2')

['Kaprodi 2',
 'Dosen D',
 'Warek 2',
 'Dosen E',
 'Rektor',
 'Kaprodi 1',
 'Kaprodi 3',
 'Warek 1',
 'Dosen A',
 'Dosen C',
 'Dosen B',
 'Dosen F',
 'Dosen G']

DFS

In [75]:
def dfs(graph, start, visited=None):
  if visited is None:
    visited = set()
  visited.add(start)
  print(start)
  for next in graph[start] - visited:
    dfs(graph, next, visited)
  return visited

In [76]:
graph = {'Amin' : {'Wasim', 'Nick', 'Mike'},
         'Wasim' : {'Imran', 'Amin'},
         'Imran' : {'Wasim', 'Faras'},
         'Faras' : {'Imran'},
         'Mike' : {'Amin'},
         'Nick' : {'Amin'}}

In [77]:
# o amin--------------
# /         /        /
# o wasim   o nick   o mike
# /
# o imran
# /
# o faras
# turun dari amin ke faras, geser ke nick & mike

dfs(graph, 'Amin')

Amin
Nick
Mike
Wasim
Imran
Faras

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [78]:
# o amin--------------
# /         /        /
# o wasim   o nick   o mike
# /
# o imran
# /
# o faras
# turun dari wasim ke faras, naik ke amin, geser ke nick & mike
dfs(graph, 'Wasim')

Wasim
Imran
Faras
Amin
Nick
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [79]:
# o amin--------------
# /         /        /
# o wasim   o nick   o mike
# /
# o imran
# /
# o faras
# naik dari faras ke amin, geser ke nick & mike
dfs(graph, 'Faras')

Faras
Imran
Wasim
Amin
Nick
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [ ]:
# o amin--------------
# /         /        /
# o wasim   o nick   o mike
# /
# o imran
# /
# o faras
# naik nick ke amin, turun ke faras, geser mike
dfs(graph, 'Nick')

In [80]:
dfs(graphRektor, 'Rektor')

Rektor
Warek 1
Warek 2
Kaprodi 1
Dosen A
Dosen C
Dosen B
Kaprodi 2
Dosen D
Dosen E
Kaprodi 3
Dosen F
Dosen G

{'Dosen A',
 'Dosen B',
 'Dosen C',
 'Dosen D',
 'Dosen E',
 'Dosen F',
 'Dosen G',
 'Kaprodi 1',
 'Kaprodi 2',
 'Kaprodi 3',
 'Rektor',
 'Warek 1',
 'Warek 2'}